@import compass/layout.sass
@import compass/utilities.sass
@import _globals.sass




html, body
	:padding 0
	:margin 0
	:font-family Helvetica, Arial, sans-serif
	
body
	#site
		#nav_bar
			:background = !color_nav_bg
			:height 25px
			:color #fff
			:padding 12px 20px 6px 20px
			:font-size .9em
			a
				:color #fff
			a:hover
				:background #fff
				:color = !color_nav_bg
			#user_nav
				:float right
				

		#content
			:width 800px
			:margin auto
			
			#alerts
				:margin 10px 0
				div
					:padding 6px
					:margin 4px 0
				.notice
					:background #A4E7A0
					:border 1px solid #26722D
				.error
					:background #F0A8A8
					:border 1px solid #900
			
			p
				:font-size 1.4em
				:line-height 1.4em
			input, textarea
				:font-size 1.1em
			textarea
				:width 450px
				:height 120px
				:margin-top 5px
			input[type=text]
				:margin-top 20px
		/* GENERIC STYLES */
		.formList
			:background inherit
			:color #000
			+no-bullets
			:margin 0
			:padding 0
			label
				:display block
				
			input[type=text], input[type=password], select
				:margin-bottom 15px
				:font-size 1.2em
				
		.separator
			:padding 0 4px
		.box
			:background = !color_light_grey
			:padding 15px
		ol,ul
			:background = !color_purple
			:color = !color_light_purple
			:padding 10px 50px
			li
				:padding 0
				:margin .8em 0