%h1
  Welcome to Hasty!
%p
  Hasty lets you create editable content in minutes.
  Plug it into your existing site or let it create a site for you.
  
%ol
  %li
    Create an account
  %li
    Wire it to one or more servers via FTP or SFTP
  %li
    Edit and publish!